/*這是單行註解*/

/*整體設定*/
body{
  font-family: "PingFang TC", "Heiti TC", "Microsoft JhengHei", sans-serif;
  background: #f1f1f1;  /*環資主網域規定是 #eee*/
    font-size: large; /*環資主網域規定是19px*/
    line-height:  38.4px;
    letter-spacing: 0px;
}


/* blockquote*/
blockquote::before {
    content: open-quote;
}

blockquote::after { 
    content: close-quote;
}

blockquote::before,
blockquote::after {
    opacity: 0.25;
    padding: 0 10px;
}

blockquote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #5ab267;
    font-size: large;
    color:#ffff;
    font-weight: bold;
}

/* everything below is for demo appearances and not important to the concept */

/* 以寧 */
/*圖說設定*/
.pic {
    display: block;
    color: #3C3C3C;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.4em;
}


/*BOX*/
.boxtext{
    color: #3C3C3C;
    font-size: 0.85em;
    line-height: 1.2em;
}

h3{
    color: #222;
    font-weight: bold;
    font-size: 200%;
}


h4{
    color: #438850;
    font-weight: bold;
    opacity: 80%;
    font-size: 130%;
}


h5{
    color: #8F6B58;
    font-size:1.2em;
}



/* 如嫻 */
.text {
    color: #3C3C3C;
    font-weight: 400;
    text-align: justify;
    font-family: FontAwesome;
}

.textp2 {
    color: #191e29;
    font-weight: 400;
    text-align: justify;
    font-family: FontAwesome;
}

.text11 {
    color: beige;
    font-weight: 400;
    text-align: justify;
    font-family: FontAwesome;
}



/* 如嫻 */

section {
    position: relative;
}

/* 開場字動畫 */
/* h1 {
  animation: typing 4s steps(35);
  overflow: hidden;
  animation-iteration-count: 3;
  font-size: 30px;
  letter-spacing: 1px;
  white-space: nowrap;
  font-family: consolas;
  border-right: 4px solid #ffffff;
  width: 36ch;
  color: #ffffff;
  margin-top: 20%;
  margin-left: 1%;
}*/

@keyframes typing {
    0% {
        width: 0ch;
    }

    100% {
        width: 35ch;
    }
}

/* 開場字的動畫結束 */

[class*="col-"] {
    /* For mobile: */
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-m-1 {
        width: 8.33%;
    }

    .col-m-2 {
        width: 16.66%;
    }

    ... .col-m-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


/* footer */
.footer {
    background-color: #438850;
    position: absolute;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
    )
 